<div class="footer">
  <div class="footer__item item">
    <div class="item__title"> Get in touch </div>
    <div class="item__link">About Us</div>
    <div class="item__link">Careers</div>
    <div class="item__link">Press Releases</div>
    <div class="item__link">Blog</div>
  </div>
  <div class="footer__item item">
    <div class="item__title"> Connections</div>
    <div class="item__link">Facebook</div>
    <div class="item__link">Twitter</div>
    <div class="item__link">Instagram</div>
    <div class="item__link">Youtube</div>
    <div class="item__link">LinkedIn</div>
  </div>
  <div class="footer__item item">
    <div class="item__title"> Earnings </div>
    <div class="item__link">Become an Affiliate</div>
    <div class="item__link">Advertise your product</div>
    <div class="item__link">Sell on Market</div>
  </div>
  <div class="footer__item item">
    <div class="item__title"> Account </div>
    <div class="item__link">Your account</div>
    <div class="item__link">Returns Centre</div>
    <div class="item__link">100 % purchase protection</div>
    <div class="item__link">Chat with us</div>
    <div class="item__link">Help <div>
  </div>
</div>
