.reviews-block{

}

.reviews-block__title{
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}

.reviews-block__reviews{
  display: flex;
  overflow: hidden;
  position: relative;
}

.reviews__wrap{
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;

}

.reviews__gradient{
  position: absolute;
  width: 88px;
  right: -88px;
  top: 100%;
  background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0.7;
  transform: rotate(180deg);
}

.reviews__right-button{
  z-index: 1;
  position: absolute;
  width: 32px;
  height: 48px;
  right: 0;
  top: calc(50% - 10px);
  background: #151515;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 12px 0 0 12px;
}

.reviews__left-button{
  z-index: 1;
  position: absolute;
  width: 32px;
  height: 48px;
  left: 0;
  top: calc(50% - 10px);
  background: #151515;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 0 12px 12px 0;
}

.reviews__left-arrow{
  position: absolute;
  left:10px;
  top:15px;
  margin-left: 0;
  pointer-events: none;
}

.reviews__right-arrow{
  position: absolute;
  margin-right: 0;
  right:10px;
  top:15px;
  pointer-events: none;
}

.reviews__item{
  position: relative;
  background: #FFFFFF;
  border: 1px solid #F1F1F1;
  border-radius: 12px;
  min-width: 369px;
  height: 198px;
  margin-right: 32px;
  margin-top: 40px;
}

.reviews__item-comment{
  position: absolute;
  left: 32px;
  right: 32px;
  top: 24px;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
}

.reviews__item-name{
  position: absolute;
  color: #A9A9A9;
  height: 18px;
  left: 123px;
  right: 123px;
  bottom: 64px;
  font-style: normal;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}
