<div class="about">
  <div class="about_title">
    Freschnesecom
  </div>
  <div class="about__info">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem error et hic illo quia rem sunt? A accusantium, alias aliquid aspernatur aut culpa cumque cupiditate dignissimos est exercitationem fuga laudantium molestiae nemo nostrum porro possimus quaerat quia quis quo rerum sequi similique suscipit tempora ut voluptas voluptatem voluptates. A, ab at atque consectetur dignissimos est excepturi incidunt, iure magni maiores natus odio odit, perferendis placeat possimus quibusdam quidem repellendus sit tempore ut. Accusantium eaque, earum eveniet incidunt molestias pariatur quae voluptate? Ad adipisci aliquid architecto, atque aut dolorem eaque eveniet fugiat inventore itaque odio recusandae reiciendis rem, sapiente sed velit?
  </div>
</div>
