* {
  box-sizing: border-box;
  margin:  0 20px 0 20px;
  padding: 0;
}

body {
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

.container {
  padding-top: 5px;
  max-width: 100%;
}

.contentBlock {
  padding: 1rem;
  margin: 0.7rem 0;
  height: 350px;
}

p {
  margin-bottom: 20px;
  font-size:30px;
}

.pictureItem {
  display: inline-block;
  padding: 20px;
}
